<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="{{ about.image.url }}" width="400">

</body>

<div>
    <h3>Залишити відгук</h3>
    <div>
        <form action="{% url 'add_review' about.id %}" method="post">
            {% csrf_token %}
            <div>
                <label for="">Ваш коментар</label>
                <textarea name="text" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="">Ваше ім'я*</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">Ваше Email*</label>
                <input type="email" name="email">
            </div>
            <div>
                <input type="submit">
            </div>

        </form>
    </div>
</div>


</html>